<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <% if user_signed_in? %>
      <% link = current_user.is_admin ? "Articles To Be Approved" : "Published Articles" %>
      <%= link_to "Categories", categories_path %> | <%= link_to link, articles_path %> | <%= link_to "Approved articles to publish",to_publish_articles_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %> | <%= current_user.name %>

    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>

     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
